#quote-box {
  padding: 10px;
  color: blue;
  background-color: paleturquoise;
}

/* #wrapper {
  border: 1px solid red;
  width: 100%;
  
} */

.inner {
  display: table !important;
  margin: 0 auto !important;
}
